@import "tailwindcss";


/* clerk user button adjust  */
.cl-avatarBox {
  width: 3rem;
  height: 3rem;
}

.slick-prev:before,
.slick-next:before {
    display: none !important;
}


/* input color  */
input {
  background-color: white;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333;
}